@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.background-image {
    background-image: url(https://images4.newscred.com/Zz1kNmFkYmFmNzhlNGIxMWViYTU1ZDFmYjg0ZWI5MTc4Zg==);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.vh-100 {
    height: 100vh;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scene-box {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px;
    background-color: #ffffff69;
    backdrop-filter: blur(5px) contrast(100%);
}

.img-con {
    width: 100%;
    display: flex;
    justify-content: center;
}

.loader {
    width: 64px;
    height: 64px;
    position: relative;
    background: #FFF;
    border-radius: 4px;
    overflow: hidden;
  }
  .loader:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    transform: rotate(45deg) translate(30%, 40%);
    background: rgb(182, 182, 182);
    box-shadow: 32px -34px 0 5px rgb(97, 95, 95);
    animation: slide 2s infinite ease-in-out alternate;
  }
  .loader:after {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(182, 182, 182);
    transform: rotate(0deg);
    transform-origin: 35px 145px;
    animation: rotate 2s infinite ease-in-out;
  }

  @keyframes slide {
    0% , 100%{ bottom: -35px}
    25% , 75%{ bottom: -2px}
    20% , 80%{ bottom: 2px}
  }
  @keyframes rotate {
    0% { transform: rotate(-15deg)}
    25% , 75%{ transform: rotate(0deg)}
    100% {  transform: rotate(25deg)}
  }


.scene-img {
    width: 70%;
    border-radius: 5px;
}

.serie-name {
    font-size: 40px;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

.btn-con {
    margin-top: 20px;
}

.btn {
    border: 2px solid #000;
    background: transparent;
    outline: none;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
    box-shadow: 3px 3px;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.742);
    box-shadow: none;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 1199.98px) {
    .scene-box {
        width: 90%;
    }

    .scene-img {
        width: 100%;
    }
}